<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ get_base_uri() }}/assets/css/cms_layout.css" />
    <link rel="stylesheet" type="text/css" href="{{ get_base_uri() }}/assets/css/{{ css_style }}" />

    <script src="https://kit.fontawesome.com/09f85baf65.js" crossorigin="anonymous"></script>

    <title>{{ page_title }}</title>
</head>
<body>
<div id="main" class="container">
    {% block content %}{% endblock %}
</div>

<script src="{{ get_base_uri() }}/assets/js/cms_layout.js"></script>
<script src="{{ get_base_uri() }}/assets/js/cms_topnav.js"></script>
<script src="{{ get_base_uri() }}/assets/js/cms_sidenav.js"></script>
<script src="{{ get_base_uri() }}/assets/js/show_all_paginated.js"></script>
<script src="{{ get_base_uri() }}/assets/js/cms_modal.js"></script>

</body>
</html>