{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'cms_form_multiple.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'list_type_company' %}

{% set flash_values = flash('value') %}

{% set local = session('local') %}

{% block content %}

    {{ vld_set_messages() }}

    <div class="content-md">

        <h1>{{ flash_values.module_name_sc ~ '_edit_multiple_form'|trans }}:</h1>

        {{ flash('error')|raw }}

        <form action="{{ url_for('ltcs.edit', {'page': page}) }}" method="post" novalidate>

            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>

                    <th class="text-center">{{ 'ref'|trans }}</th>
                    <th class="text-center">{{ 'pl'|trans }}</th>
                    <th class="text-center">{{ 'en'|trans }}</th>

                    </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    {% for i, ltc in ltcs %}
                        <tr>

                            <td class="text-center">
                                <div class="form-group  {{ vld_style('ref', i) }}">
                                    <input class="form-group-item form-group-input" type="text" name="ref[{{ i }}]" value="{{ ltc.ref }}" placeholder="{{ loop.index }}" autocomplete="off" required/>
                                    <label for="name" class="form-group-item form-group-label"><span></span></label>
                                </div>
                                {{ vld_feedback('ref', i)|raw }}
                            </td>
                            <td class="text-center">
                                <div class="form-group  {{ vld_style('pl', i) }}">
                                    <input class="form-group-item form-group-input" type="text" name="pl[{{ i }}]" value="{{ ltc.pl }}" placeholder="{{ loop.index }}" autocomplete="off" required/>
                                    <label for="name" class="form-group-item form-group-label"><span></span></label>
                                </div>
                                {{ vld_feedback('pl', i)|raw }}
                            </td>
                            <td class="text-center">
                                <div class="form-group  {{ vld_style('en', i) }}">
                                    <input class="form-group-item form-group-input" type="text" name="en[{{ i }}]" value="{{ ltc.en }}" placeholder="{{ loop.index }}" autocomplete="off" required/>
                                    <label for="name" class="form-group-item form-group-label"><span></span></label>
                                </div>
                                {{ vld_feedback('en', i)|raw }}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {{ csrf()|raw }}

            {{ set_links()|raw }}

            <div class="form-buttons text-right">
                <a class="btn btn-secondary" href="{{ url_for('ltcs.show-all-paginated') }}" role="button">{{ 'Back'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'edit_multiple_list_type_company'|trans }}</button>
            </div>

        </form>

    </div>

{% endblock %}