* {
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    margin:0;
    padding:0;
}
body {
    height: 100vh;
    background-image: url(../img/main_layout.png);
    background-repeat:no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background{
    position: fixed;
    height:100vh;
    display: flex;
    align-items: stretch;
}

#middle {
    position: relative;
    width:1080px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}

#logo-big {
    position: relative;
    top: 12.5em;
}

#logo-header {
    margin-top: -1000px;
    font-weight: 600;
    font-size: 5em;
    letter-spacing: 0.05em;
    text-align: center;
}

#logo-text-blue {
    color: #00d3ff;
}

#logo-text {
    font-size: 1em;
}

.aside {
    flex-grow: 1;
}

.icons-main {
    position:relative;
    overflow:hidden;
}

.icons-frame {
    display:inline-block;
    position:relative;
    top: 5em;
    opacity:0;
    transform: rotate(-360deg);
    left:-720px;
    width:180px;
    height:180px;
    border-color: #fff;
    border-style: solid;
    border-radius: 90px;
    margin:20px 10px 40px 10px;
    cursor: pointer;
}

.icons-frame:hover {
    box-shadow:
            0 0px 7px 0 #fff inset,
            0 0px 7px 0 #fff,
            0 0px 7px 0 #fff inset,
            0 0px 7px 0 #fff;
    text-shadow:
            0 0 5px #fff,
            0 0 5px #fff;
    transition:1s;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#fff;
}

/* ------------ FLAG ------------ */
#shape-upper {
    position: absolute;
    top:-40vh;
    width:inherit;
    height: 40vh;
    overflow: hidden;
    background:transparent;
}

.flag-upper {
    position: absolute;
    top:0;
    width:1080px;
    height: 40vh;
    background:#082237;
}

#left-upper-rotated {
    transform: rotate(-15deg);
    transform-origin: left bottom;
}

#right-upper-rotated {
    transform: rotate(25deg);
    transform-origin: right bottom;
}

#shape-lower {
    position: absolute;
    bottom:-40vh;
    width:inherit;
    height: 40vh;
    overflow: hidden;
    background:transparent;
}

.flag-lower {
    position: absolute;
    bottom:0;
    width:1080px;
    height: 40vh;
    background: #082237;
}

#left-lower-rotated {
    transform: rotate(25deg);
    transform-origin: left top;
}

#right-lower-rotated {
    transform: rotate(-15deg);
    transform-origin: right top;
}

/*@media only screen and (max-width: 600px) {...} 
@media only screen and (min-width: 600px) {...} 
@media only screen and (min-width: 768px) {...}*/